<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>
    <style>

        @keyframes animation {
            to { transform: rotate(360deg); }
        }

        .animation {
            animation: animation 10s infinite linear;
            width: 30%;
            border: 3px solid green;
            padding: 20px;
            margin: 300px auto auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="animation">
    <h1>PZS lab 7: Terekhov Vermeichik</h1>
</div>
</body>
</html>